body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #3d82db;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    font-size: 1.2em;
    margin: 0;
}

.card img{
    width: 100%;
}

.card p {
    margin: 10px 0;
}

.card button {
    padding: 5px 10px;
    border: none;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
