*{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

button {
  background-color: rgb(175, 3, 175);
  padding: 13px 20px;
  color: white;
  font-weight: 400;
  border: none;
  font-size: 18px;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s ease;
}

.login-page-container {
  display: flex;
  border: 1px solid slategray;
  border-radius: 10px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  gap: 24px;
  margin: auto;
  padding: 24px;
  width: 25%;
  margin-top: 8rem;
}
.login-page-container p {
  font-size: 20px;
}
.login-page-container a {
  text-decoration: none;
  color: rgb(175, 3, 154);
}
.login-page-container input {
  padding: 12px;
  font-size: 15px;
  background: none;
  border-radius: 8px;
  border: 1px solid slategray;
  /* background-color: rgb(237, 219, 237); */
}

.signup-page-container {
  display: flex;
  border: 1px solid slategray;
  border-radius: 10px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  gap: 24px;
  margin: auto;
  padding: 24px;
  width: 25%;
  margin-top: 8rem;
  p {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: rgb(175, 3, 154);
  }
  input {
    padding: 12px;
    font-size: 15px;
    background: none;
    border-radius: 8px;
    border: 1px solid slategray;
  }
}

.otp-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 24px;
  padding: 24px;
  background-color: rgb(162, 210, 213);
  gap: 24px;
  border-radius: 8px;
}

.otp-input-container {
  position: relative;
  margin-left: 70px;

  input {
    padding: 8px;
    font-size: 24px;
    letter-spacing: 48px;
    width: 280px !important;
    border: none;
    outline: none;
  }

  .otp-column {
    position: absolute;
    top: 0;
    height: 55px;
    width: 24px;
    background-color: rgb(162, 210, 213);
    ;
  }

  .c1 {
    left: 34px;
    width: 20px;
    margin-left: 5px;
  }

  .c2 {
    left: 94px;
    width: 20px;
    margin-left: 5px;
  }

  .c3 {
    left: 156px;
    width: 20px;
  }

  .c4 {
    left: 216px;
    width: 80px;
  }
}
