.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar-left-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-left-item img{
    width: 60px;
}